.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    width: 100%;
    min-width: 100px;
    background-color: #ffffff;
    z-index: 1;
    transition: 0.3s ease-in;
}

.product:hover {
    transform: scale(1.03);
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.8);
}

.product > img {
    max-height: 200px;
    object-fit: contain;
    width: 100%;
    margin-bottom: 15px;
}

.product__info {
    margin-bottom: 15px;
    width: 100%;
}

.product__price {
    margin-top: 5px;
}

.product__rating {
    display: flex;
}

.product .product__btn {
    background-color: #f0c14b;
    margin-top: 10px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 8px 15px;
    cursor: pointer;
    outline: 0;
}

@media screen and (max-width: 768px) {
    .product .product__info {
        font-size: 14px;
    }

    .product > img {
        max-height: 125px;
    }
}

@media screen and (max-width: 500px) {
    .product {
        margin: 5px;
        padding: 10px;
    }

    .product .product__info {
        font-size: 12px;
    }

    .product > img {
        max-height: 100px;
    }

    .product .product__btn {
        padding: 4px 10px;
    }

    .header__searchInput {
        max-width: 100px;
    }
}
