.home {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__row {
    display: flex;
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 500px) {
    .home__image {
        margin-bottom: -80px;
    }

    .three_rows {
        /* flex-wrap: wrap; */
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        padding-right: 10px;
    }
}
