.order {
    padding: 40px;
    margin: 20px 0;
    background-color: #ffffff;
    position: relative;
}

.order__id {
    position: absolute;
    top: 40px;
    right: 20px;
}

.order__total {
    font-weight: 500;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .order {
        padding: 30px;
    }
}

@media screen and (max-width: 500px) {
    .order {
        padding: 20px;
    }

    .order > h2 {
        display: inline-block;
    }

    .order__id {
        position: static;
        margin-bottom: 6px;
        display: inline-block;
        margin-left: 5px;
    }
}
