.payment {
    background-color: #ffffff;
}

.payment__container h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
}

.payment__container > h1 a {
    text-decoration: none;
    color: #f0c14b;
}

.payment__section {
    display: flex;
    margin: 0 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.payment__title {
    flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
    flex: 0.8;
}

.payment__details > form {
    max-width: 400px;
}

.payment__priceContainer {
    margin-top: 10px;
}

.payment__details > form > div > button {
    background: #f0c14b;
    width: 100%;
    border-radius: 2px;
    height: 30px;
    border: 1px solid;
    font-weight: bolder;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

@media screen and (max-width: 768px) {
    .payment__container {
        font-size: 12px;
    }

    .checkoutProduct__title {
        font-size: 12px;
    }

    .payment__title {
        flex: 0.3;
    }
}

@media screen and (max-width: 500px) {
    .payment__section {
        margin: 0 5px;
        padding: 10px;
    }

    .checkoutProduct__image {
        width: 80px;
        height: 80px;
    }
}
